.pagination-outer {
    text-align: center;
}

.pagination {
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    position: relative;
}

.pagination li a.page-link {
    color: #fff;
    background-color: #ff3838;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    height: 35px;
    width: 42px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 20px 0;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    border: none;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
    color: #fff;
    background-color: #990e0e;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.15);
}

@media only screen and (max-width: 480px) {
    .pagination {
        font-size: 0;
        display: inline-block;
    }
    .pagination li {
        display: inline-block;
        vertical-align: top;
        margin: 10px 0;
    }
}