{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block body %}
<div class="container">     
      <div class="container mt-5">
        <h1 class="text-center mb-5">About Us</h1>
        <p>Rodoist is a task management and organization tool that allows users to create and manage to-do lists and projects. It provides features such as task assignment, due dates, labels and priorities, sub-tasks, and the ability to add comments and attachments. Todoist also offers collaboration features,</p>
        <p> allowing users to share and assign tasks to team members. The platform is available on multiple platforms, including web, mobile, desktop, and as a browser extension. Todoist supports natural language input, making it easy to add and prioritize tasks, and has a clean and intuitive interface.Additionally, Todoist integrates with a variety of other tools and services,Todoist is a feature-rich task management tool that can help users prioritize, organize, and complete their daily tasks. </p>

</div>
{% endblock body %}