{% load static %}
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top w-100">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" height="36" width="36" class="rounded mx-2" alt="Taskmate">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if user.is_authenticated %} 
        <div class="nav-item nav-link" href="#">
          <i class="fas fa-sign-out-alt"></i> {{user.username}}
        </div>
        <a class="nav-item nav-link" href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        <i class="fas fa-sign-out-alt"></i><strong> </strong>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
        <a class="nav-item nav-link" href="{% url 'signup' %}">
          <i class="fas fa-user-plus"></i> Sign up
        </a>
      {% endif %}
      
        <a class="nav-item nav-link " href='{% url "home"  %}'>Home</a>
        <a class="nav-item nav-link" href="{% url 'task' %}">Todo List</a>
        <a class="nav-item nav-link" href="{% url 'contact' %}">Contact Us</a>            
        <a class="nav-item nav-link" href="{% url 'about' %}">About Us</a>
      </div>
    </div>
  </nav>
</div>
